{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.css", "*.html", "*.ejs", "*.jsx"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
